<div id="button-contact-vr">
    <div id="zalo-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="https://m.me/ktnhapho" rel="nofollow noreferrer" target="_blank" title="Chát với chúng tôi">
                    <img class="icon-hotline" src="{{ asset('assets/images/fb.png') }}">
                </a>
            </div>
        </div>
    </div>
    <div id="zalo-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="https://zalo.me/0985724890" rel="nofollow noreferrer" target="_blank" title="Chát với chúng tôi">
                    <img class="icon-hotline" src="{{ asset('assets/images/zalo.png') }}">
                </a>
            </div>
        </div>
    </div>
    <div id="phone-vr" class="button-contact">
        <div class="phone-vr">
            <div class="phone-vr-circle-fill"></div>
            <div class="phone-vr-img-circle">
                <a href="tel:0931284379" rel="nofollow noreferrer" title="Chát với chúng tôi">
                    <img class="icon-hotline" src="{{ asset('assets/images/phone.png') }}">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="td-scroll-up go-to-top td-scroll-up-visible hidden">
    <i class="fa fa-chevron-up"></i>
</div>